# Node-RED
.node-red/**/*.config.nodes.json
.node-red/**/*.config.runtime.json
.node-red/**/*.config.users.json
.node-red/**/*.json.backup
.node-red/**/.sessions.json
.node-red/**/flows_cred.json

# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml
