# Node-RED
.node-red/**/*.config.nodes.json
.node-red/**/*.config.runtime.json
.node-red/**/*.config.users.json
.node-red/**/*_cred.json
.node-red/**/.sessions.json
.node-red/**/*.tmp
.node-red/**/*.backup

# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml
